  img.card-img-top {
  width: 208px;
  height: 210px;
  padding-left: 17px;
}


div.card {
  margin-bottom: 10px;
}

h5.card-title {
  margin-bottom: 0px;
}


button.btn {
  width: 70px;
  margin-right: 5px;
}

span.alertDelete {
  margin-right: 5px;
}

/* .pointerCursor {
  cursor: pointer;
} */
