<div class="form-group">
  <input type="text" class="form-control" placeholder="Search By Name" style="width: 300px"
          [(ngModel)]="searchTerm"  />
</div>
<div class="form-group">
  <button (click)="changeCharacterName()" class="btn btn-primary">
    Change Character Name
  </button>
</div>

<!-- <div *ngFor="let character of characters | characterFilter:searchTerm" (mousemove)="onMouseMove()" > -->
<div *ngFor="let character of filteredCharacters">
  <div class="pointerCursor" (click)="onClick(character.id)">
    <app-character-view [perso]="character"></app-character-view>
  </div>
</div>

<!-- 38 (template reference variable) -->

<!-- <h1 #h1Variable>
</h1>
<div *ngFor="let character of characters">
  <div (click)="h1Variable.innerHTML = childComponent.perso.name + ' ' + childComponent.perso.gender"> PROPERTIES
    <div (click)="h1Variable.innerHTML = childComponent.getCharacterNameAndGender()"> METHOD
    <app-character-view [perso]="character" #childComponent></app-character-view>
  </div>
</div> -->

<!-- 38 FIN -->

<!-- 37 (output) -->

<!-- Exercise from the 37th lesson -->
<!-- <h1 *ngIf="dataFromChildExo">
  {{ dataFromChildExo?.name + ' / ' + dataFromChildExo?.gender }}
</h1>
<div *ngFor="let character of characters">
      <app-character-view [perso]="character" (notifyExo)="handleNotifyExo($event)"></app-character-view>
  </div> -->

<!-- <h1>
  {{ dataFromChild }}
</h1>
<div *ngFor="let character of characters">
    <app-character-view [perso]="character" (notify)="handleNotify($event)"></app-character-view>
</div> -->

<!-- 37 FIN  -->

<!-- 34 & 35 & 36 (input property change detection...) -->
<!-- <button class="btn btn-primary" (click)="nextCharacter()">
  View Next Character
</button>
<br/>
<br/>
<app-character-view [perso]="characterToDisplay" [characterId]="characterToDisplay.id" >
</app-character-view> -->

<!-- 34 FIN -->


<!-- Before the 33rd lesson -->
<!-- <div class="card card-primary" *ngFor="let perso of characters"> -->
<!-- <div class="card-header bg-light">
    <h3 class="card-title">{{perso.name}}</h3>
  </div>
  <div class="card-body">
    <div class="col-xs-10">
      <div class="row">
        <div class="col-xs-4">
          <img class="card-img-top" src="{{perso.photoPath}}" alt="Card image cap">
        </div>
        <div class="col-sm-8">

          <div class="row">
            <div class="col-sm-6">
              Gender
            </div>
            <div class="col-sm-5.5">
              : {{perso.gender}}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              Date of Birth
            </div>
            <div class="col-sm-5.5">
              : {{perso.dateOfBirth | date }}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              Contact Preference
            </div>
            <div class="col-sm-5.5">
              : {{perso.contactPreference}}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              Phone
            </div>
            <div class="col-sm-5.5">
              : {{perso.phoneNumber}}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              Email
            </div>
            <div class="col-sm-5.5">
              : {{perso.email}}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              Department
            </div>
            <div class="col-sm-5.5" [ngSwitch]="perso.department">
              :
              <span *ngSwitchCase="1">Help Desk</span>
              <span *ngSwitchCase="2">HR</span>
              <span *ngSwitchCase="3">IT</span>
              <span *ngSwitchCase="4">Payroll</span>
              <span *ngSwitchCase="5">Admin</span>
              <span *ngSwitchDefault>N/A</span>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              Is Active
            </div>
            <div class="col-sm-5.5">
              : {{perso.isActive}}
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="card-footer bg-light">
    <a class="btn btn-primary text-white float-right">Details</a>
  </div> -->
