<div class="container">
<nav class="navbar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="list">List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="edit/0">Add</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Login</a>
    </li> -->
  </ul>
</nav>
<div *ngIf="showLoadingIndicator" class="spinner"></div>
  <router-outlet></router-outlet>
</div>
