<!-- BEFORE THE 31st lesson -->
<!-- <form #characterForm="ngForm" (ngSubmit)=saveCharacter(character)> -->
<!-- END -->

<form #characterForm="ngForm" (ngSubmit)=saveCharacter()>
  <div class="card">
    <div class="card-header">
      Add a character
    </div>
    <div class="card-body">
      <!-- <div class="form-group">
        <label for="name">Full name</label>
        <input required type="text" name="name" [(ngModel)]="name" class="form-control" id="name" placeholder="Enter full name" #nameControl="ngModel">
      </div> -->
      <!-- <div class="form-group">
        <label for="email">Email address</label>
        <input required type="email" name="email" [(ngModel)]="email" class="form-control" id="email" aria-describedby="emailHelp"
          placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="text" name="phoneNumber" [(ngModel)]="phoneNumber" class="form-control" id="phoneNumber" placeholder="Enter phone number">
      </div> -->

      <!-- COURS 6 & 7 (radio + default checked + disabled) -->

      <!-- <div class="form-group">
        <label>Contact Preference</label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" value="email" name="contactPref" [(ngModel)]="contactPref"> Email
          </label>
          <label class="radio-inline">
            <input type="radio" value="phoneNumber" name="contactPref" [(ngModel)]="contactPref"> Phone Number
          </label>
        </div>
      </div>
      <div class="form-group">
        <label>Gender</label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" value="male" name="gender" [(ngModel)]="gender"> Male
          </label>
          <label class="radio-inline">
            <input type="radio" value="female" name="gender" [(ngModel)]="gender"> Female
          </label>
        </div>
      </div> -->
      <!-- FIN COURS 6 & 7 -->

      <!-- COURS 8 (checkbox + default checked + disabled) -->
      <!-- <div class="form-group">
        <div class="form-control">
          <label class="checkbox-inline">
            <input type="checkbox" name="isActive" [(ngModel)]="isActive"> is Active
          </label>
        </div>
      </div> -->
      <!-- FIN COURS 8 -->

      <!-- COURS 9 (HardCoding + default select + disabled) -->
      <!-- <div class="form-group">
        <label for="department" class="checkbox-inline">
          Department
        </label>
        <select name="department" id="department" [(ngModel)]="department" class="form-control">
          <option value="1">Help Desk</option>
          <option value="2">HR</option>
          <option value="3">IT</option>
          <option value="4">Payroll</option>
        </select>
      </div> -->
      <!-- FIN COURS 9 -->

      <!-- COURS 10 (select option using array + property binding) -->
      <!-- <div class="form-group">
        <label for="department" class="checkbox-inline">
          Department
        </label>
        <select name="department" id="department" [(ngModel)]="department" class="form-control">
          <option *ngFor="let dept of departments" [value]="dept.id">{{dept.name}}
          </option>
        </select>
      </div> -->
      <!-- what's the difference btwn [value]="dept.id" & value="{{dept.id}}" ? -->
      <!-- FIN COURS 10 -->

      <!-- COURS 11 & 12 (DatePicker + ngxbootstrap + bsDatepicker & bsDaterangepicker + custom ) -->
      <!-- <div class="row">
        <div class="form-group col-md-5">
          <label for="dateOfBirth">Date of Birth</label>
          <input type="text" bsDatepicker name="dateOfBirth" [(ngModel)]="dateOfBirth" class="form-control" id="dateOfBirth" [bsConfig]="datePickerConfig"
            placement='right'>
        </div>
      </div> -->

      <!-- FIN COURS 11 & 12 -->

      <!-- COURS 13 & 14 (ngIf + browser native validation) novalidate / ngNativeValidate -->

      <!-- <div class="form-group">
        <label for="photoPath">Photo Path</label>
        <input type="text" name="photoPath" [(ngModel)]="photoPath" class="form-control" id="photoPath" placeholder="Enter photo path">
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="togglePhotoPreview()">
          {{previewPhoto? 'Hide ' : 'Show '}} Preview
        </button>
      </div>

      <div class="form-group">
        <img [src]="photoPath" height="200" width="200" *ngIf="previewPhoto" />
      </div> -->

      <!-- FIN COURS 13 & 14 -->


      <!-- COURS 15 (validation form (checkbox, textbox, radiobox etc..)) -->

      <!-- <div class="form-group">
        <label for="name15">Full name</label>
        <input required type="text" name="name15" [(ngModel)]="name15" class="form-control" id="name15" #name15Control="ngModel"
          placeholder="Enter full name">
      </div>

      <div class="form-group">
          <label for="email15">Email address</label>
          <input required type="email" name="email15" [(ngModel)]="email15" class="form-control" id="email15" aria-describedby="email15Help" placeholder="Enter email">
          <small id="email15Help" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

      <table border=1 style="border-collapse: collapse; font-family: Arial; table-layout: fixed">
        <tr style="background-color: rgb(170, 120, 12); font-weight: bold">
          <td colspan="3" style="padding: 3px; white-space: nowrap; width: 100%">
            <h4>Full Name field</h4>
          </td>
        </tr>
        <tr style="background-color: rgb(212, 149, 13); font-weight: bold">
          <td style="padding: 10px; white-space: nowrap; width: 33%">
            <div>touched: {{name15Control.touched}}</div>
            <div>untouched: {{name15Control.untouched}}</div>
          </td>
          <td style="padding: 10px; white-space: nowrap; width: 33%">
            <div>pristine: {{name15Control.pristine}}</div>
            <div>dirty: {{name15Control.dirty}}</div>
          </td>
          <td style="padding: 10px; white-space: nowrap; width: 33%">
            <div>valid: {{name15Control.valid}}</div>
            <div>invalid: {{name15Control.invalid}}</div>
          </td>
        </tr>
      </table>
      <hr style="margin: 15px">
      <table border=1 style="border-collapse: collapse; font-family: Arial; table-layout: fixed">
        <tr style="background-color: rgb(170, 120, 12); font-weight: bold">
          <td colspan="3" style="padding: 3px; white-space: nowrap; width: 100%">
            <h4>Character Form</h4>
          </td>
        </tr>
        <tr style="background-color: rgb(212, 149, 13); font-weight: bold">
          <td style="padding: 10px; white-space: nowrap; width: 33%">
            <div>touched: {{characterForm.touched}}</div>
            <div>untouched: {{characterForm.untouched}}</div>
          </td>
          <td style="padding: 10px; white-space: nowrap; width: 33%">
            <div>pristine: {{characterForm.pristine}}</div>
            <div>dirty: {{characterForm.dirty}}</div>
          </td>
          <td style="padding: 10px; white-space: nowrap; width: 33%">
            <div>valid: {{characterForm.valid}}</div>
            <div>invalid: {{characterForm.invalid}}</div>
          </td>
        </tr>
      </table> -->

      <!-- FIN COURS 15 -->

      <!-- COURS 16 (form validation error messages)-->

      <!-- <div class="form-group" [class.is-invalid]="name16Control.invalid && name16Control.touched">
        <input required type="text" name="name16" [(ngModel)]="name16" class="form-control" id="name16" placeholder="Enter full name" #name16Control="ngModel">
        <label class="col-form-label" for="name16">Full name 16</label>
        <span class="text-muted" *ngIf="name16Control.invalid && name16Control.touched">Name is required</span>
      </div> -->

      <!-- FIN COURS 16 -->

      <!-- COURS 17 & 18 & 19 & 20 (binding ngModel to object + validator for email, radio ) -->

      <div class="form-group" [class.was-validated]="name.invalid && name.touched">
        <label class="col-form-label" for="name">Name</label>
        <input class="form-control" type="text" name="name" [(ngModel)]="character.name" id="name" placeholder="Enter name" #name="ngModel"
          required>
        <span class="invalid-feedback" *ngIf="name.invalid && name.touched">Name is required</span>
      </div>

      <!-- 18 / 19 -->

      <div class="form-group" [class.was-validated]="email.invalid">
        <label class="col-form-label" for="email">Email address</label>
        <input class="form-control" type="text" name="email" [(ngModel)]="character.email" id="email" aria-describedby="emailHelp"
          placeholder="Enter email" #email="ngModel" [required]="contactPreference.value =='email'" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$">

        <!-- [ngClass]="{'is-invalid' : email.invalid}" -->

        <!-- <input required pattern="^[a-zA-Z0-9_.+-]+@(?:(?:[a-zA-Z0-9-]+\.)?[a-zA-Z]+\.)?(simpson)\.net$" type="text" name="email" [(ngModel)]="character.email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" #email="ngModel" [ngClass]="{'is-invalid' : email.invalid && email.touched, 'is-valid' : email.valid && email.touched}"> -->
        <!-- pattern for every email validation : pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"-->
        <!-- pattern for specific email validation : pattern="^[a-zA-Z0-9_.+-]+@(?:(?:[a-zA-Z0-9-]+\.)?[a-zA-Z]+\.)?(simpson)\.net$"-->

        <small id="emailHelp" class="text-muted">We'll never share your email with anyone else.</small>
        <span class="invalid-feedback" *ngIf="email?.errors?.required">Email is required</span>

        <span class="invalid-feedback" *ngIf="email?.errors?.pattern">Email is invalid</span>
        <!-- <span class="invalid-feedback" *ngIf="email.errors?.pattern && email.touched">Email is invalid</span> -->
      </div>

      <!-- Before the 21th course:  && email.touched -->

      <!-- 18 / 19 FIN -->

      <!-- 27: Bonus Exercise make a confirm email -->

      <!-- 27 FIN : end of the bonus -->

      <div class="form-group" [class.was-validated]="phoneNumber.invalid">
        <label class="col-form-label" for="phoneNumber">Phone Number</label>
        <input class="form-control" type="text" name="phoneNumber" [(ngModel)]="character.phoneNumber" id="phoneNumber" placeholder="Enter phone number"
          #phoneNumber="ngModel" [required]="contactPreference.value =='phoneNumber'">
        <small class="invalid-feedback" *ngIf="phoneNumber.invalid">Phone Number is required</small>
      </div>

      <!-- 20  (validator form for radio button) -->

      <div class="form-group" [class.was-validated]="contactPreference.invalid && contactPreference.touched">
        <label class="col-form-label">Contact Preference</label>

        <div class="form-check">
          <div class="form-check-inline">
            <input type="radio" required #contactPreference="ngModel" value="email" id="emailPref" name="contactPreference" [(ngModel)]="character.contactPreference"
              class="form-check-input">
            <label for="emailPref" class="form-check-label">Email</label>
          </div>
          <div class="form-check-inline">
            <input type="radio" required #contactPreference="ngModel" value="phoneNumber" id="phoneNumberPref" name="contactPreference"
              [(ngModel)]="character.contactPreference" class="form-check-input">
            <label for="phoneNumberPref" class="form-check-label">Phone Number</label>
          </div>
          <small class="invalid-feedback d-block" *ngIf="contactPreference.touched && contactPreference.invalid">Contact Preference is required</small>
        </div>

        <!-- Contact Preference Selected Value : {{ contactPreference.value | json }} -->
      </div>

      <!-- [class.was-validated]="gender.touched && gender.invalid" -->
      <div class="form-group" [class.was-validated]="gender.invalid && gender.touched">
        <label class="col-form-label">Gender</label>

        <div class="form-check">
          <div class="form-check-inline">
            <input type="radio" required #gender="ngModel" value="male" id="male" name="gender" [(ngModel)]="character.gender" class="form-check-input">
            <label for="male" class="form-check-label">Male</label>
          </div>
          <div class="form-check-inline">
            <input type="radio" required #gender="ngModel" value="female" id="female" name="gender" [(ngModel)]="character.gender" class="form-check-input">
            <label class="form-check-label" for="female">Female</label>
          </div>
          <small class="invalid-feedback d-block" *ngIf="gender.touched && gender.invalid">Gender is required</small>
        </div>

      </div>

      <!-- 20 FIN -->

      <!-- <div class="form-group was-validated">
          <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="customControlValidation2" name="gender" required>
          <label class="custom-control-label" for="customControlValidation2">Male</label>
        </div>
        <div class="custom-control custom-radio mb-3">
          <input type="radio" class="custom-control-input" id="customControlValidation3" name="gender" required>
          <label class="custom-control-label" for="customControlValidation3">female</label>
          <div class="invalid-feedback">More example invalid feedback text</div>
        </div>
      </div> -->

      <!-- <div class="form-group">
    <label>Gender 2</label>
<div class="form-control">
  <div class="custom-control custom-radio custom-control-inline">
    <input required #gender="ngModel" [(ngModel)]="character.gender" value="male" type="radio" id="male" name="gender" class="custom-control-input" [ngClass]="{'has-invalid': gender.touched && gender.invalid }">
    <label class="custom-control-label" for="male">Male</label>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
    <input required #gender="ngModel" [(ngModel)]="character.gender" value="female" type="radio" id="female" name="gender" class="custom-control-input" [ngClass]="{'has-invalid': gender.touched && gender.invalid }">
    <label class="custom-control-label" for="female">Female</label>
  </div>
</div>
</div> -->

      <!-- 20 FIN -->

      <!-- COURS 22 -->

      <!-- PROBLEM : -->

      <!-- <div class="form-check" [class.has-validated]="isActive.invalid && isActive.touched">
        <div class="form-check-inline">
          <input class="form-check-input" type="checkbox" name="isActive" [(ngModel)]="character.isActive" #isActive="ngModel" id="isActive" [required]="character.isActive== false">
          <label class="form-check-label" for="isActive">is Active</label>
        </div>
        <small class="invalid-feedback d-block" *ngIf="isActive?.errors?.required && isActive.touched">Is Active is required</small>
      </div> -->

      <!-- FIRST SOLUTION FOR THE 22th LESSON -->

      <!-- <div class="form-check">
        <div class="form-check-inline">
          <input class="form-check-input" type="checkbox" name="isActive" [(ngModel)]="character.isActive" #isActive="ngModel" id="isActive">
          <label class="form-check-label" for="isActive">is Active</label>
        </div>
      </div> -->

      <!-- SECOND SOLUTION FOR THE 22th LESSON -->

      <div class="form-group" [class.was-validated]="isActiveExo.invalid && isActiveExo.touched">
        <label class="col-form-label">Is Active Exo</label>
        <div class="form-check">
          <div class="form-check-inline">
            <input class="form-check-input" type="radio" [value]="true" name="isActiveExo" [(ngModel)]="character.isActive" #isActiveExo="ngModel"
              id="ActiveYes" required>
            <label class="form-check-label" for="ActiveYes">Yes</label>
          </div>
          <div class="form-check-inline">
            <input class="form-check-input" type="radio" [value]="false" name="isActiveExo" [(ngModel)]="character.isActive" #isActiveExo="ngModel"
              id="ActiveNo" required>
            <label class="form-check-label" for="ActiveNo">No</label>
          </div>
        </div>
        <small class="invalid-feedback d-block" *ngIf="isActiveExo?.errors?.required && isActiveExo.touched">Is Active is required</small>
      </div>

      <!-- END OF THE SOLUTION -->

      <!-- 23 (list Validation) -->

      <!-- V1 : Normal -->

      <!-- <div class="form-group" [class.has-validated]="department.invalid && department.touched">
        <label class="col-form-label" for="department" >
          Department
        </label>
        <select class="form-control" name="department" #department="ngModel" id="department" [(ngModel)]="character.department" required >
          <option *ngFor="let dept of departments" [value]="dept.id">{{dept.name}}
          </option>
        </select>
        <small class="invalid-feedback d-block" *ngIf="department?.errors?.required && department.touched">Department is required</small>
      </div> -->

      <!-- V2: method used generally / problem here : broke the required validation
      solution : create a custom validator -->

      <!-- <div class="form-group" [class.has-validated]="department.invalid && department.touched">
          <label class="col-form-label" for="department" >
            Department
          </label>
          <select class="form-control" name="department" #department="ngModel" id="department" [(ngModel)]="character.department" required >
            <option value="-1">Select Department</option>
            <option *ngFor="let dept of departments" [value]="dept.id">{{dept.name}}
            </option>
          </select>
          <small class="invalid-feedback d-block" *ngIf="department?.errors?.required && department.touched">Department is required</small>
        </div> -->

      <!-- FIN 23 -->

      <!-- 24 (value vs ngValue) -->

      <!-- <div class="form-group" [class.has-validated]="department.invalid && department.touched">
            <label class="col-form-label" for="department" >
              Department
            </label>
            <select class="form-control" name="department" #department="ngModel" id="department" [(ngModel)]="character.department" required >
              <option disabled [ngValue]='null' >Select Department</option>
              <option *ngFor="let dept of departments" [value]="dept.id">{{dept.name}}
              </option>
            </select>
            <small class="invalid-feedback d-block" *ngIf="department?.errors?.required && department.touched">Department is required</small>
          </div> -->

      <!-- Important : this built-in required validation will work on the select element only if the default option value is 'null'  -->
      <!-- FIN 24 -->

      <!-- 25 (custom validator) / pb: hardcoding so it's neither configurable or reusable -->

      <!-- <div class="form-group" [class.has-validated]="department.invalid && department.touched">
        <label class="col-form-label" for="department">
          Department
        </label>
        <select class="form-control" name="department" #department="ngModel" id="department" [(ngModel)]="character.department" appSelectValidator >
          <option value='-1'>Select Department</option>
          <option *ngFor="let dept of departments" [value]="dept.id">{{dept.name}}
          </option>
        </select>
        <small class="invalid-feedback d-block" *ngIf="department?.errors?.defaultSelected && department.touched">Department is required</small>
      </div> -->

      <!-- FIN 25 -->

      <!-- 26 (validator reusable & configurable) -->

      <div class="form-group" [class.was-validated]="department.invalid && department.touched">
        <label class="col-form-label" for="department">
          Department
        </label>
        <select class="form-control" name="department" #department="ngModel" id="department" [(ngModel)]="character.department" appSelectValidator="select">
          <option value='select'>Select Department</option>
          <option *ngFor="let dept of departments" [value]="dept.id">{{dept.name}}
          </option>
        </select>
        <small class="invalid-feedback d-block" *ngIf="department?.errors?.defaultSelected && department.touched">Department is required</small>
      </div>

      <!-- FIN 26 -->

      <div class="row">
        <div class="form-group col-md-5">
          <label for="dateOfBirth">Date of Birth</label>
          <input type="text" bsDatepicker name="dateOfBirth" [(ngModel)]="character.dateOfBirth" class="form-control" id="dateOfBirth"
            [bsConfig]="datePickerConfig" placement='right'>
        </div>
      </div>
      <div class="form-group">
        <label for="photoPath">Photo Path</label>
        <input type="text" name="photoPath" [(ngModel)]="character.photoPath" class="form-control" id="photoPath" placeholder="Enter photo path">
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="togglePhotoPreview()">
          {{previewPhoto? 'Hide ' : 'Show '}} Preview
        </button>
      </div>

      <div class="form-group">
        <img [src]="character.photoPath" height="200" width="200" *ngIf="previewPhoto" />
      </div>

      <!-- FIN COURS 17 18 & 19 -->

      <!-- 27 (password & confirm password) 2 problems : confirm > password (no trigger) / password > confirm no red border for both field -->

      <!-- <div class="form-group" [class.was-validated]="password.invalid && password.touched">
        <label class="col-form-label" for="password">Password</label>
        <input type="text" name="password" class="form-control" id="password" [(ngModel)]="character.password" #password="ngModel"
          required>
        <small class="invalid-feedback d-block" *ngIf="password?.errors?.required && password.touched">Password is required</small>
      </div>

      <div class="form-group" [class.was-validated]="confirmPassword.invalid && confirmPassword.touched">
        <label class="col-form-label" for="confirmPassword">Confirm Password</label>
        <input type="text" name="confirmPassword" class="form-control" id="confirmPassword" [(ngModel)]="character.confirmPassword"
          #confirmPassword="ngModel" appConfirmEqualValidator="password" required>
        <small class="invalid-feedback d-block" *ngIf="confirmPassword?.errors?.required && confirmPassword.touched">Confirm Password is required</small>
        <small class="invalid-feedback d-block" *ngIf="confirmPassword?.errors?.notEqual && confirmPassword.touched && !confirmPassword?.errors?.required">Password and Confirm Password does not match</small>
      </div> -->

      <!-- FIN 27 -->

      <!-- 28 () -->

      <!-- <div ngModelGroup="passwordGroup" [class.was-validated]="confirmPassword.invalid && confirmPassword.touched && !confirmPassword?.errors?.required">

        <div class="form-group" [class.was-validated]="password.invalid && password.touched">
          <label class="col-form-label" for="password">Password</label>
          <input type="text" name="password" class="form-control" id="password" (input)="confirmPassword.control.updateValueAndValidity()"
            [(ngModel)]="character.password" #password="ngModel" required>
          <small class="invalid-feedback d-block" *ngIf="password?.errors?.required && password.touched">Password is required</small>
        </div> -->

        <!-- (change)="confirmPassword.control.updateValueAndValidity() ; problem : it work only when we lose the focus  instead of (change) use (input)-->

        <!-- <div class="form-group" [class.was-validated]="confirmPassword.invalid && confirmPassword.touched">
          <label class="col-form-label" for="confirmPassword">Confirm Password</label>
          <input type="text" name="confirmPassword" class="form-control" id="confirmPassword" [(ngModel)]="character.confirmPassword"
            #confirmPassword="ngModel" appConfirmEqualValidator="password" required>
          <small class="invalid-feedback d-block" *ngIf="confirmPassword?.errors?.required && confirmPassword.touched">Confirm Password is required</small>
          <small class="invalid-feedback d-block" *ngIf="confirmPassword?.errors?.notEqual && confirmPassword.touched && !confirmPassword?.errors?.required">Password and Confirm Password does not match</small>
        </div>
      </div> -->

      <!-- FIN 28 -->

      <!-- 29 (ngModelGroup / confirm password field validation ways) -->

      <!-- <div ngModelGroup="passwordGroup" appConfirmEqualValidator #passwordGroup="ngModelGroup"
      [class.was-validated]="passwordGroup?.errors?.notEqual && !confirmPassword?.errors?.required">

        <div class="form-group" [class.was-validated]="password.invalid && password.touched">
          <label class="col-form-label" for="password">Password</label>
          <input type="text" name="password" class="form-control" id="password"
            [(ngModel)]="character.password" #password="ngModel" required>
          <small class="invalid-feedback d-block" *ngIf="password?.errors?.required && password.touched">Password is required</small>
        </div>

        <div class="form-group" [class.was-validated]="confirmPassword.invalid && confirmPassword.touched">
          <label class="col-form-label" for="confirmPassword">Confirm Password</label>
          <input type="text" name="confirmPassword" class="form-control" id="confirmPassword" [(ngModel)]="character.confirmPassword"
            #confirmPassword="ngModel" required>
          <small class="invalid-feedback d-block" *ngIf="confirmPassword?.errors?.required && confirmPassword.touched">Confirm Password is required</small>
          <small class="invalid-feedback d-block" *ngIf="passwordGroup?.errors?.notEqual && confirmPassword.touched && !confirmPassword?.errors?.required">Password and Confirm Password does not match</small>
        </div>
      </div> -->

      <!-- 29 FIN -->

    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-primary" [disabled]="characterForm.invalid">Save</button>
    </div>
  </div>
</form>
Angular Generated Form Model : {{characterForm.value | json}}
<br>
<br> Our Character model : {{ character | json }}
